<div class="container" [style.margin-top.px]="50">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">{{title}}</h3>
          </div>
          <div class="panel-body">
            <ng-container *ngIf="isShowing">
              <app-lifecycle-hook [total]="total"></app-lifecycle-hook>
            </ng-container>
            <button type="button" class="btn btn-primary" (click)="onToggle()">Toggle</button>
            <hr/>
            Số thứ nhất: <input type="number" name="" class="form-control" [(ngModel)]="a">
            Số thứ hai: <input type="text" name="" class="form-control" [(ngModel)]="b">
            <button 
              type="button" 
              class="btn btn-danger" 
              (click)="amount()" 
              [style.margin-top.px]="20"
            >Tính tổng</button>
          </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">{{title}}</h3>
          </div>
          <div class="panel-body">
            <app-order-lifecycle>
              <h1 #value>Value: {{content}}</h1>
              <!-- <h2>Value: h2 tag</h2>
              <h3 class="myClass">Value: h3</h3>
              <h4 id="myId">Value: h4 tag</h4>
              <h5>Value: h5 tag</h5>
              <h5>Value: h5 tag 2</h5>
              <div myAttr>This is my this tag</div>
              <span course="Angular">This is my this tag Angular 4</span>
              <p handsome demo>You are HandSome</p> -->
            </app-order-lifecycle>
            <input type="text" class="form-control" #text>
            <button 
              type="button" 
              class="btn btn-danger" 
              [style.margin-top.px]="10"
              (click)="onClick(text.value)"
            >Click me!</button>
          </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">ngAfterView - ngAfterViewChecked</h3>
          </div>
          <div class="panel-body">
            
          </div>
      </div>
    </div>
  </div>  
</div>
