<ng-container *ngIf="product; else noProduct">
  <h1>ID: {{ product.id }}</h1>
	<h1>Name: {{ product.name}}</h1>
	<h2>Price: {{ product.price | currency:'VND':true}}</h2>
	<h3>Status: {{ product.status ? 'Active' : 'Deactive' }}</h3>
	<a [routerLink]="['/products/2']">Product 2</a>
</ng-container>
<ng-template #noProduct>
	<h1>This product has been deleted</h1>
</ng-template>
<br/>
<button type="button" class="btn btn-success" [style.margin-right.px]="10" (click)="onEdit()">Edit</button>
<button type="button" class="btn btn-danger" (click)="onDelete()">Delete</button>
<hr/>
<button type="button" class="btn btn-primary" (click)="onBackToList()">Back To List</button>

