<h3>Component to view</h3>
<h4>Họ tên: {{ user.name }}</h4>
<p>Tuổi: {{ user.age }}</p>
<p>Tình trạng hôn nhân: {{ user.isMarried }}</p>
<p>Tình trạng hôn nhân: {{ user.isMarried ? 'Đã kết hôn':'Chưa kết hôn' }}</p>
<h2>{{showInfo()}}</h2>
<img src="{{imgLink}}" alt="" width="200"/>
<a href="{{ link }}">{{textLink}}</a>
<hr/>
<h3>Property Binding</h3>
<img [src]="imgLink" [alt]="'Hình ảnh đẹp'" [width]="imgWidth"/><hr/>
<input type="text" class="form-control" [value]="name">
<button 
	type="button" 
	class="btn btn-primary"
	[disabled]="isValid"
	>Đăng nhập
</button>
<img bind-src="imgLink" [alt]="'Hình ảnh đẹp'" width="200"/><hr/>
<table [attr.border]="tbBorder" [attr.width]="tbWidth">
	<tr>
		<td>ID</td>
		<td>Họ tên</td>
		<td>SDT</td>
	</tr>
	<tr>
			<td>1</td>
			<td>ABC</td>
			<td>123456</td>
		</tr>
</table>
<hr/>
<h2>Class Binding</h2>
<table [class.table-bordered]="isBorder" width="500">
	<tr>
		<td>ID</td>
		<td>Họ tên</td>
		<td>SDT</td>
	</tr>
	<tr>
			<td>1</td>
			<td>ABC</td>
			<td>123456</td>
		</tr>
</table>

<span 
	class="label" [class.label-danger]="isChecked === 1"
	[class.label-success]="isChecked !== 1"
>Label</span>

<div 
	[style.background-color]="isSpecical ? 'red':'cyan'" 
	[style.color]="'white'"
	[style.font-size.px]="size"
>Lập trình Angular 4</div>