<h3>Component to view</h3>
<h4>Họ tên: {{ user.name }}</h4>
<p>Tuổi: {{ user.age }}</p>
<p>Tình trạng hôn nhân: {{ user.isMarried }}</p>
<p>Tình trạng hôn nhân: {{ user.isMarried ? 'Đã kết hôn':'Chưa kết hôn' }}</p>
<h2>{{showInfo()}}</h2>
<img src="{{imgLink}}" alt="" width="200"/>
<a href="{{ link }}">{{textLink}}</a>
<hr/>
<h3>Property Binding</h3>
<img [src]="imgLink" [alt]="'Hình ảnh đẹp'" [width]="imgWidth"/><hr/>
<input type="text" class="form-control" [value]="name">
<button 
	type="button" 
	class="btn btn-primary"
	[disabled]="isValid"
	>Đăng nhập
</button>
<img bind-src="imgLink" [alt]="'Hình ảnh đẹp'" width="200"/><hr/>