<h1 *ngIf="isShow">Họ tên: {{username}}</h1>
<button type="button" class="btn btn-warning" (click)="onToggle()">Toggle</button>
<hr/>

<div class="radio">
  <label>
    <input type="radio" name="rdCheck" (click)="onChange(true)">Hợp lệ
  </label>
  <br/>
  <label>
    <input type="radio" name="rdCheck" (click)="onChange(false)">Không hợp lệ
  </label>
</div>

<h3 *ngIf="isChecked; else elseBlock">Hợp lệ</h3>
<ng-template #elseBlock>
  <h3>Không hợp lệ</h3>
</ng-template>
<hr/>
<div class="form-group">
  <label>Tuổi: </label>
  <input type="text" class="form-control" [(ngModel)]="age">
</div>

<ng-container *ngIf="age > 18; else elseNotEnough">
  <h3>Đủ tuổi</h3>
</ng-container>
<ng-template #elseNotEnough>
  <h2>Chưa đủ tuổi</h2>
</ng-template>

<ul class="list-group">
  <li class="list-group-item" *ngFor="let item of names">{{item}}</li>
</ul>

<ul class="list-group">
  <ng-template ngFor let-item [ngForOf]="names" let-i="index" led-odd="odd" [ngForTrackBy]="trackById">
    <li class="list-group-item">{{item}}</li>
  </ng-template>
</ul>

<ng-container *ngIf="products.length > 0; else elseNoProduct">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>STT</th>
        <th>Tên</th>
        <th>Giá</th>
      </tr>
    </thead>
    <tbody>
      <tr 
        *ngFor="let item of products; 
          let i = index
          let f = first
          let l = last
          let e = even
          let o = odd
          trackBy:myTrackByFunction
          "
          [style.background-color]="f===true ? 'gray':'white'"
          [style.background-color]="(l===true) ? 'cyan':(f === true? 'gray':'white')"
          [style.background-color]="e === true ? 'red':'blue'"
          [style.background-color]="o === true ? 'yellow':'red'"
        >
        <td>{{i + 1}} {{f}}</td>
        <td>{{item.name}}</td>
        <td>{{item.price}} VND</td>
      </tr>
    </tbody>
  </table>
</ng-container>

<ng-template #elseNoProduct>
  <h1>Không còn sản phẩm</h1>
</ng-template>

<button type="button" class="btn btn-warning" (click)="onLoadData()">
  Lấy dữ liệu sever
</button>
<hr/>

<ul class="list-group">
  <li class="list-group-item" *ngFor="let user of users">
    <span class="text-danger" *ngIf="user.country === 'Viet Nam'">{{user.name}} - {{user.country}}</span>
    <span class="text-primary" *ngIf="user.country === 'USA'">{{user.name}} - {{user.country}}</span>
    <span *ngIf="user.country !== 'USA' && user.coutry !=='Viet Name'">{{user.name}} - {{user.country}}</span>
  </li>
</ul>

<hr/>
<h3>ngSwitchCase</h3>

<ul class="list-group">
  <li 
    class="list-group-item" 
    *ngFor="let user of users"
    [ngSwitch]="user.country"
  >
    <span *ngSwitchCase="'Viet Nam'" class="text-danger">
      {{user.name}} - {{user.country}}
    </span>

    <span *ngSwitchCase="'USA'" class="text-primary">
      {{user.name}} - {{user.country}}
    </span>

    <span *ngSwitchDefault>
      {{user.name}} - {{user.country}}
    </span>
  </li>
</ul>
