<h1 *ngIf="isShow">Họ tên: {{username}}</h1>
<button type="button" class="btn btn-warning" (click)="onToggle()">Toggle</button>
<hr/>

<div class="radio">
  <label>
    <input type="radio" name="rdCheck" (click)="onChange(true)">Hợp lệ
  </label>
  <br/>
  <label>
    <input type="radio" name="rdCheck" (click)="onChange(false)">Không hợp lệ
  </label>
</div>

<h3 *ngIf="isChecked; else elseBlock">Hợp lệ</h3>
<ng-template #elseBlock>
  <h3>Không hợp lệ</h3>
</ng-template>
<hr/>
<div class="form-group">
  <label>Tuổi: </label>
  <input type="text" class="form-control" [(ngModel)]="age">
</div>

<ng-container *ngIf="age > 18; else elseNotEnough">
  <h3>Đủ tuổi</h3>
</ng-container>
<ng-template #elseNotEnough>
  <h2>Chưa đủ tuổi</h2>
</ng-template>

<ul class="list-group">
  <li class="list-group-item" *ngFor="let item of names">{{item}}</li>
</ul>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>STT</th>
      <th>Tên</th>
      <th>Giá</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of products">
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.price}} VND</td>
    </tr>
  </tbody>
</table>


