<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
  <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Data-driven-form</h3>
      </div>
      <div class="panel-body">
        <form [formGroup]="frmUser" autocomplete="false" novalidate (ngSubmit)="onSubmitForm()">
          <div class="form-group">
            <label for="">Username: </label>
            <input type="text" class="form-control" name="txtUsername" formControlName="username">            
            <span 
              class="label label-danger" 
              *ngIf="frmUser.controls.username.dirty && frmUser.controls.username.errors?.required">
              Vui lòng nhập Username
            </span>        
            <span 
              class="label label-danger" 
              *ngIf="frmUser.controls.username.dirty && frmUser.controls.username.errors?.minlength">
              Username phải có độ dài 3 ký tự
            </span>
            <span 
              class="label label-danger" 
              *ngIf="frmUser.controls.username.dirty && frmUser.controls.username.errors?.maxlength">
              Username phải có độ dài bé hơn 20 ký tự
            </span>     
          </div>
          <div class="form-group">
            <label for="">Password: </label>
            <input type="text" class="form-control" name="txtPassword" formControlName="password">
          </div>
          <span 
              class="label label-danger" 
              *ngIf="frmUser.controls.password.dirty && frmUser.controls.password.errors?.required">
              Vui lòng nhập Password
            </span>
          <div class="form-group">
            <label for="">Fullname: </label>
            <input type="text" class="form-control" name="txtFullname" formControlName="fullname">
          </div>
          <div class="form-group">
            <label for="">Email: </label>
            <input type="text" class="form-control" name="txtEmail" formControlName="email">
            <span 
              class="label label-danger" 
              *ngIf="frmUser.controls.email.dirty && frmUser.controls.email.errors?.pattern">
              Email không đúng định dạng
            </span>
          </div>
          <div class="form-group">
            <label for="">Phone: </label>
            <input type="text" class="form-control" name="txtPhone" formControlName="phone">
          </div>
          <button [disabled]="frmUser.invalid" type="submit" class="btn btn-primary"  [style.margin-right.px]="10">Save</button>
          <button (click)="onResetForm()" type="button" class="btn btn-primary">Reset</button>
        </form>
      </div>
  </div>    
</div>

