<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
  <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Data-driven-form</h3>
      </div>
      <div class="panel-body">
        <form [formGroup]="frmUser" autocomplete="false" novalidate (ngSubmit)="onSubmitForm()">
          <div class="form-group">
            <label for="">Username: </label>
            <input type="text" class="form-control" name="txtUsername" formControlName="username"> 
          </div>
          <div class="form-group">
            <label for="">Password: </label>
            <input type="text" class="form-control" name="txtPassword" formControlName="password">
          </div>
          <div class="form-group">
            <label for="">Fullname: </label>
            <input type="text" class="form-control" name="txtFullname" formControlName="fullname">
            <app-error-validate 
              [control]="frmUser.controls.fullname"
              [name-control]="'FullName'"
            >
            </app-error-validate>
          </div>
          <div class="form-group">
            <label for="">Email: </label>
            <input type="text" class="form-control" name="txtEmail" formControlName="email">
            <app-error-validate 
              [control]="frmUser.controls.email"
              [name-control]="'Email'"
            >
            </app-error-validate>
          </div>
          <div class="form-group">
            <label for="">Phone: </label>
            <input type="text" class="form-control" name="txtPhone" formControlName="phone">
          </div>
          <button [disabled]="frmUser.invalid" type="submit" class="btn btn-primary"  [style.margin-right.px]="10">Save</button>
          <button (click)="onResetForm()" type="button" class="btn btn-primary">Reset</button>
        </form>
      </div>
  </div>    
</div>

