<div class="container" [style.margin-top.px]="30">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Đầu vào</th>
            <th>Kết quả</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <button type="button" class="btn btn-danger" [style.margin-right.px]="5" (click)="onHandleSort(1)">Tăng</button>
              <button type="button" class="btn btn-primary" (click)="onHandleSort(-1)">Giảm</button>
              <p>{{arrNumber}}</p>
            </td>
            <td>{{arrNumber | sortNumber :sortValue}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
