<h1>Chào mừng đến với Angular 4</h1>
<div class="container">
  
  <div class="row">
    <!-- <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title">Component To View</h3>
          </div>
          <div class="panel-body">
            <component-to-view></component-to-view>
          </div>
      </div>      
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title">View To Component</h3>
          </div>
          <div class="panel-body">
            <view-to-component></view-to-component>
          </div>
      </div>      
    </div> -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">Two way binding (Đồng bộ hóa component và view)</h3>
        </div>
        <div class="panel-body">
          <two-way-binding></two-way-binding>
        </div>
      </div>
    </div>
  </div>
</div>
