<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
  <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Teamplate Driven Form</h3>
      </div>
      <div class="panel-body">
        <form #frmUser="ngForm" (ngSubmit)="onSubmitForm(frmUser)" autocomplete="false" novalidate>      
          <div class="form-group">
            <label for="">Username: </label>
            <input 
              type="text"
              name="txtUsername"
              class="form-control"
              minlength="3"
              maxlength="20"
              required="required"
              [(ngModel)]="user.username"
              #username="ngModel"
            >
            <span class="label label-danger"
              *ngIf="username.dirty && username.errors?.required"
            >Vui lòng nhập Username
            </span>
            <span class="label label-danger"
              *ngIf="username.errors?.minlength"
            >Username phải có độ dài 3 ký tự
            </span>
            <span class="label label-danger"
              *ngIf="username.dirty && username.errors?.maxlength"
            >Username phải có độ dài không quá 20 ký tự
            </span>
          </div>
          <div class="form-group">
            <label for="">Password: </label>
            <input 
              name="txtPassword"
              type="password" 
              class="form-control" 
              [(ngModel)]="user.password"
              #password="ngModel"
              required="required"
              minlength="5"
              maxlength="20"
            >
          </div>
          <div class="form-group">
            <label for="">Fullname: </label>
            <input
              name="txtFullname"
              type="text" 
              class="form-control" 
              [(ngModel)]="user.fullname"
              #fullname="ngModel"
              required="required"
              minlength="3"
              maxlength="20"
            >
            <span class="label label-danger"
              *ngIf="fullname.dirty && fullname.errors?.required"
            >Vui lòng nhập Fullname
            </span>
            <span class="label label-danger"
              *ngIf="fullname.errors?.minlength"
            >Fullname phải có độ dài 3 ký tự
            </span>
            <span class="label label-danger"
              *ngIf="fullname.dirty && fullname.errors?.maxlength"
            >Fullname phải có độ dài không quá 20 ký tự
            </span>
          </div>
          <div ngModelGroup="contact">
            <div class="form-group">
              <label for="">Email: </label>
              <input
                name="txtEmail" 
                type="text" 
                class="form-control" 
                [(ngModel)]="user.email"
                #email="ngModel"
                pattern="^[a-z][a-z0-9.-_]{1,}@[a-z0-9.-]{2,}[.]{1}[a-zA-Z]{2,}"
              >
            </div>
            <span class="label label-danger"
                *ngIf="email.dirty && email.errors?.pattern"
              >Email không đúng định dạng.
              </span>
            <div class="form-group">
              <label for="">Phone: </label>
              <input
                name="txtPhone"
                type="text" 
                class="form-control" 
                [(ngModel)]="user.phone" 
                #phone="ngModel"
              >
            </div>
          </div>
          
          <button type="submit" class="btn btn-primary" [style.margin-right.px]="10">Save</button>
          <button type="" class="btn btn-primary" (click)="onResetForm(frmUser)">Reset</button>
        </form>
      </div>
  </div>
</div>
